<br>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">Usuários</h1>
    <p class="lead-1">Inclusão de novos Uusários</p>
    <hr class="my-2">
  </div>
  <br>
  <form [formGroup]="meuForm" (submit)="onSubmit()">
    <div class="row d-flex justify-content-center">
      <div class="form-froup">
        <label >Nome do Usuário</label>
        <input type="text" class="form-control" formControlName="nome" placeholder="Digite o nome">
      </div>
      <app-mostrar-mensagem
        [controles]="meuForm.controls['nome']" [mensagem]="'Erro ao preencher campo'">
      </app-mostrar-mensagem>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="form-froup">
        <label>Email do Usuário</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Digite o email">
        <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small>
      </div>
      <app-mostrar-mensagem
        [controles]="meuForm.controls['nome']" [mensagem]="'Erro ao preencher campo'">
      </app-mostrar-mensagem>
    </div>
    <br>

    <div class="gap-2 d-md-flex">
      <button type="submit" class="btn btn-primary">Salvar</button>
      <button type="reset" class="btn btn-primary">Limpar</button>
      <a routerLink="/usuarios" class="btn btn-outline-secondary">Cancelar</a>
    </div>
  </form>
</div>
