<br><br>
<form [formGroup]="meuForm" (submit)="onSubmit()">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <div class="form-froup">
        <label>Nome do Usuário</label>
        <input type="text" class="form-control" formControlName="nome" placeholder="Digite o nome">
      </div>
      <app-mostrar-mensagem
        [controles]="meuForm.controls['nome']" [mensagem]="'Erro ao preencher campo'">
      </app-mostrar-mensagem>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <div class="form-froup">
        <label>Email do Usuário</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Digite o email">
      </div>
      <app-mostrar-mensagem
        [controles]="meuForm.controls['nome']" [mensagem]="'Erro ao preencher campo'">
      </app-mostrar-mensagem>
    </div>
  </div>

  <br>
  <div align="center">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="reset" class="btn btn-primary">Limpar</button>
  </div>
</form>
