<form [formGroup]="meuForm" (submit)="onSubmit()">
  <br><br>
  <div class="row d-flex justify-content-center">
      <div class="col-8">
          <div class="form-group">
              <label >Nome Completo</label>
              <input type="text" class="form-control" formControlName="nome" placeholder="Digite seu nome">
          </div>

          <app-mostrar-mensagem
              [controles]="meuForm.controls['nome']"
              [mensagem]="'Erro ao preencher nome'"
          ></app-mostrar-mensagem>

      </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8">
          <div class="form-group">
              <label >Rua</label>
              <input type="text" class="form-control" formControlName="rua" placeholder="Digite sua rua">
          </div>

          <app-mostrar-mensagem
              [controles]="meuForm.controls['rua']"
              [mensagem]="'Erro ao preencher rua'"
          ></app-mostrar-mensagem>
      </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8">
          <div class="form-group">
              <label >Número</label>
              <input type="text" class="form-control" formControlName="numero" placeholder="Digite o numero">
          </div>

          <app-mostrar-mensagem
              [controles]="meuForm.controls['numero']"
              [mensagem]="'Erro ao preencher número'"
          ></app-mostrar-mensagem>

      </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8">
          <div class="form-group">
              <label >CEP</label>
              <input type="text" class="form-control" formControlName="cep" placeholder="Digite o CEP">
          </div>

          <app-mostrar-mensagem
              [controles]="meuForm.controls['cep']"
              [mensagem]="'Erro ao preencher CEP'"
          ></app-mostrar-mensagem>
      </div>
  </div>
  <br><br>
  <div align="center">
      <button type="submit" class="btn btn-primary">Salvar</button> <!-- 'primary' deixa o botão azul-->
      <button type="reset" class="btn btn-primary">Limpar</button>
  </div>

</form>
