
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cursive, sans-serif;
    color: 	#000000;
    border: none;
  }

  input, label {
    display: block;
    outline: none;
    width: 100%;
  }

  a {
    color: #E60084;
  }

  body {
    padding-top: 5vh;
    background-size: cover;
    background-position-y: -150px;
  }

  label {
    font-weight: bold;
    font-size: .8rem;
  }

  input {
    border-bottom: 2px solid #00FFFF;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: #E60084;
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
  }


