<div class="container">
  <ul class="nav nav-pills nav-fill justify-content-center">
   <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']"
        routerLinkActive="active"  aria-current="page" [routerLinkActiveOptions]="{exact : true}">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/professores']"
      routerLinkActive="active" >Professores</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/enderecos']"  routerLinkActive="active">Enderecos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/formularios/reativo-form']"  routerLinkActive="active">Formulários</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/professores-gp']"  routerLinkActive="active">Grande Porte</a>
    </li>

<!--
  <li class="nav-item">
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
-->
  </ul>
  <router-outlet></router-outlet>
</div>

<!-- <h1> Componente Root</h1>
<p> Interpolação: {{ title }}</p>
<app-listar [empresaFilho]="empresa"></app-listar>

<div>
  <p style="background-color: yellow;">
    Empresa: {{ empresa }}
  </p>
</div> -->

<!-- Property Binding TS -> HTML -->
<!-- <div>
  <p [style]="corFundo"> Empresa: [ empresa ]</p>
</div> -->
<!-------------------------------------------------------------------------->
<!-- <p>
  <button class="btn btn-primary"(click)="clicar()"> Clique aqui </button>
</p> -->
<!-------------------------------------------------------------------------->
<!-- <p>
  <input type="text" [value]="empresa"
    (keyup)="getTextoDigitado(empresaInput)"
    #empresaInput >
</p> -->
<!-------------------------------------------------------------------------->
<!-- <p>
  <input type="text" [(ngModel)]="empresa">
</p> -->

<!-----------------------Bootstrap--------------------------------------------------->
  <!-- <div class="row" style="background-color: aqua;">
    <div class="col">
      ALINE
    </div>
    <div class="col">
      aline.caleffi@nava.com.br
    </div>
    <div class="col">
      NAVA
    </div>
    <div class="col">
      24
    </div>
  </div> -->

<!-- <br> <b>Formatação de formulários com Bootstrap</b><br>
  <div class="row" style="background-color: rgb(248, 186, 186);">
    <div class="col-6">
      Nome: <input class="form-control" type="text">
    </div>
    <div class="col-6">
      Email: <input class="form-control" type="text">
    </div>
    <div class="col-1">
      Idade:<input class="form-control" type="text">
    </div>
    <div class="col-6">
      Cidade:<input class="form-control" type="text">
    </div>
    <div class="col-5">
      Estado:<input class="form-control" type="text">
    </div>
    <div class="col-5">
      CEP:<input class="form-control" type="text">
    </div>
    <div class="col-5">
      Rua:<input class="form-control" type="text">
    </div>
    <div class="col-2">
      Número:<input class="form-control" type="text">
    </div>
    <div class="col">    <br>   </div>
  </div> -->

<!--
  ANOTAÇÕES:

  button class="btn btn-primary" -> muda o visual do botão
  <div class="col-2"> Define o tamanho

  [routerLinkActiveOptions]="{exact : true}" => deixa apenas um link selecionado

-->
<!-- FUNCIONANDO - LOCALHOST:4200-->
