<p>listar works!</p>
<p>Empresa Filho : {{ empresaFilho }}</p>
<h3>
  --------------TABELAS-------------------------
</h3>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let p of professores">
    <th>{{ p.id}}</th>
    <th>{{p.nome}}</th>
    <th>{{p.email}}</th>
  </tr>

</table>



<!--

  scope="row" -> para acrescentar automatico
  Exemplo:
    <th scope="row"> 1 </th>
    começa pelo 1 e aumenta a cada linha ...... (1,2,3......n)

-->
